#headlineTop{
    background: orangered;
    color: white;
    text-align: center;
   
}

#gridContainer{
    text-align: center;
    background: #ebebeb;
}

#buttonsContainer{
    background: #ebebeb;
}


